name: package_uikit
description: "A new Flutter project."
version: 0.0.1


environment:
  sdk: ^3.9.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  flutter_svg: ^2.2.3
  flutter_switch: ^0.3.2
  dropdown_button2: ^2.3.9
  google_fonts: ^7.0.2
  modal_bottom_sheet: ^3.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  assets:
     - assets/
     - fonts/MyFlutterApp.ttf

  #
  # For details regarding assets in packages, see
  # https://flutter.dev/to/asset-from-package
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  fonts:
     - family: MyFlutterApp
       fonts:
         - asset: fonts/MyFlutterApp.ttf

  # For details regarding fonts in packages, see
  # https://flutter.dev/to/font-from-package
